/*ME he tomado bastante libertad creativa pero creo que he seguido los puntos*/
/*REGLAS GENERALES*/
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 13% 7% 70% 12%;
    background-image: url("fondoweb.png");
    background-size: 300px; 
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

/*REGLAS HEADER*/
header {
    grid-row: 1;
    background-color: black;
    color:white;
}

header > h3 {
    margin-bottom: 0;
}

header > p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2.5%;
    font-weight: bold;
}

header > a {
    text-decoration: none;
    color: white;
}

header > a:hover > h1 {
    color:rgb(246, 96, 79);
    color:rg
}

header > a > img {
    width: 100px;
    float: left;
    margin-right: 2%;
    margin-left: 0.5%;
}

header a img:last-child {
    display: none;  
}

header a:hover img:last-child {
    display: block;  
}

header a:hover img:first-child {
    display: none;  
}





/*REGLAS MENU*/
nav {
    grid-row: 2;
    background-color: rgb(25, 25, 25);
}

nav > ul {
    list-style: none;
    max-height: 100%;
}
nav > ul > li {
    float: left;
    margin-left:20%;
    margin-right:20%;
    padding: 0.5%;


}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li:hover {
    background-color:rgb(246, 96, 79);
    border-radius: 10px;
    border-width: 3px;
    font-weight: bold;
}





/*REGLAS MAIN*/
main {
    grid-row: 3;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
}

main > article {
    text-align: center;
    margin-top: 10%;
    max-width: 400px;
    
    
}

main article img {
    border-radius: 10%;
}

main article a img:hover {
    filter: brightness(1.1);
}

main article a {
    text-decoration: none;
    color: rgb(25, 25, 25);
}

main article a h2{
    border-top-style: solid;
    border-width: 5px;
    padding-top: 3%;
    border-color: rgb(25, 25, 25);
}

main article a:hover h2{
    border-color: rgb(246, 96, 79);
}

#foto1 {
   grid-row: 1;
   grid-column: 1;
   margin-left: 15%;
}

#foto2 {
    grid-row: 1;
    grid-column: 2;
    margin-left: 15%;
    
}

#foto3 {
    grid-row: 1;
   grid-column: 3;
   margin-left: 15%;
}

#foto4 {
    grid-row: 2;
   grid-column: 1;
   margin-top: 5%;
   margin-bottom: 20%;
   margin-left: 15%;
}

#foto5 {
    grid-row: 2;
   grid-column: 2;
   margin-top: 5%;
   margin-left: 15%;
   
}

#foto6 {
    grid-row: 2;
   grid-column: 3;
   margin-top: 5%;
   margin-left: 15%;
}





/*REGLAS FOOTER*/
footer {
    grid-row: 4;
    background-color: rgb(25, 25, 25);
    color:white;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    min-height: 12%;
    text-align: center;
}

footer > p {
    margin: 0;
    min-height: 100%;
    max-width: 100%;
}

footer > a > img {
    height: 1.75%;
    width: 1.75%;
    margin:0.50%;
    margin-bottom: 0.25%;
    filter: brightness(5);
}

footer > a > img:hover {
    filter: none;
}

#estudiante {
    margin-bottom: 1%;
    font-weight: bold;
}

#nombre {
    margin-bottom: 0.5%;
    font-weight: bold;
}





/*ELEMENTO ACTIVO*/
#liactive {
    color:rgb(231, 75, 59);
}